# ==============================
# HOSxP API — Environment Config
# ==============================

# DB_TYPE: mysql | postgresql
DB_TYPE=mysql

DB_HOST=10.10.8.245
DB_PORT=3306
DB_NAME=hosxp
DB_USER=hosuser
DB_PASS=yourpassword

# App
APP_NAME=HOSxP API
APP_ENV=development
APP_PORT=8889
JWT_SECRET=
JWT_ALGORITHM=HS256


BACKEND_CORS_ORIGINS=*
