# ==============================
# HOSxP API — Environment Config
# ==============================

# DB_TYPE: mysql | postgresql
DB_TYPE=mysql

DB_HOST=192.168.1.10
DB_PORT=3306
DB_NAME=hosxp
DB_USER=hosuser
DB_PASS=yourpassword

# App
APP_NAME=HOSxP API
APP_ENV=development
APP_PORT=8000
API_KEY=hosinfo_secret_token_2026
JWT_SECRET=1dc08b122a5ea7cf81da36410c013b482b612efe286341ff1a78cb2d095978cc
JWT_ALGORITHM=HS256
